name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test-integration:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore MediatorTest.Tests.Integration/MediatorTest.Tests.Integration.csproj

    - name: Build integration tests
      run: dotnet build MediatorTest.Tests.Integration/MediatorTest.Tests.Integration.csproj --no-restore

    - name: Run integration tests
      run: dotnet test MediatorTest.Tests.Integration/MediatorTest.Tests.Integration.csproj --no-build --verbosity normal
